$color-dark: #1a1a1a;
$color-blue: #4C90FF;
$color-grey: #3A3A3A;

$color-input-border: #80bdff;
$color-input-focus: #ced4da;
$transition-duration: 0.3s;

$main-font: Arial;
$main-font-color: #ced4da;